body {
	background-color: #eeefec;
	color: #222;
	font-family: arial, sans-serif;
	margin: 20px auto 0 auto;
	padding: 0 20px;
	width: 500px;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #999;
}

footer a {
	color: #ccc;
}

p,ul,ol {
	font-size: 13px;
	line-height: 23px;
}

header h1 {
	border-bottom: 1px solid #eee;
	font-size: 22px;
	margin-bottom: 0;
	padding-bottom: 5px;
}

header h2 {
	color: #555;
	font-size: 16px;
	font-weight: normal;
}

pre,
code {
	background-color: #eee;
	color: #333;
	font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", Courier, monospace;
	font-size: 12px;
	padding: 2px;
}

footer {
	color: #888;
}
